body {
    background-image: url(imgs/background.jpg);
    background-size: cover;
}

@media (max-width: 1200px) {
    html {
        zoom: 50%;
    }

}

@media screen and (max-width: 500px) {
    
    #topo-pagina nav ul{
        display: flex;
        flex-direction: column;
    }
    
}

main {
    margin: auto;
    width: 80%;
    background-color: white;
    opacity: 95%;
    padding: 4%;

}

nav {
    background-color:  #FF6262;
    margin-top: 3px;
    margin-bottom: 0px;
    color: white;
    text-align: center;
    padding: 2px;
    padding-bottom: 15px;   
    margin-right: 6%;
    margin-left: 6%;
}

a {
    color: white;
    display: inline-block;
    transition:transform .2s cubic-bezier(.37,1.89,.59,.73);
    margin-left: 18px;
    font-size: 18px;
}

a:hover {
    color: yellow;
    transform: scale(1.3);
}

h1 {
    margin-top: 15px;
    text-align: center;
    font-size: 530%;
    font-family: 'Georgia', serif; 
    color: orange;
}

h2 {
    clear: left;
    text-align: center;
    font-size: 30px;
    font-family: 'Glory', sans-serif;
    color:#FF6262;
}

#topo-pagina h2{
    text-shadow: 2px 2px black;
    color:LawnGreen;
}

h3 {
    font-size: 20px;
    font-family: 'Georgia', serif;
}

header ul {
    padding-left: 0;
    padding-top: 0.20em;
    margin-bottom: 0; 
}
  
header li {
    list-style: none;
    display: inline-block;
    font-family: 'Arial Rounded MT', sans-serif;
    border-bottom: 3px solid transparent;
    margin: 0 0.4em;
}


.botao {
    width: 200px;
    border-radius: 25%;
    display: inline-block;
    display: flex;
    justify-content: center;
}

.blocos{
    display: inline-block;
    margin: 0 5em;
}

.blocos h2{
    text-align: center;
    margin-top: 40px;
    font-size: 27px;
    opacity: 0;
    transition: linear 0.2s;
}

.blocos :hover h2{
      opacity: 1;
} 

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    margin-left: 90px;
    margin-right: 90px;
    text-align: justify;
}

.referencias {
    font-family: 'Candara', sans-serif;
    font-size: 23px;
}

#imgs1 {
    width: 300px;
    border-radius: 30%; 
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#imgs2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

#imgs3 {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

#imgs4 {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

#imgNewton {
    float: left;
    margin-left: 90px;
    margin-right: 10px; 
    width: 250px;
    box-shadow: 5px 5px 10px rgb(0 0 0/20%);
}

iframe {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:60%;
}

.participantes{
	display: flex;
	justify-content:space-evenly;
	padding: 30px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: lightsalmon;
}

caption {
    background-color : yellow;
}

caption {
    font-size: 75%;
}

td, th {
    padding: 3px 10px;
    font-size: 105%;
}

thead, tfoot {
    background-color: orange;
    border: 1px solid black;
}
